@page "/"

<div class="page-content row">
    <div class="banner">
        <div class="logo-text">NC Tennis</div>
    </div>
    <div class="buttons-section">
        <button onclick="" class="btn btn-main-page">Ranking</button>
        <button onclick="" class="btn btn-main-page">Players</button>
        <button onclick="" class="btn btn-main-page">Messages</button>
        <button onclick="" class="btn btn-main-page">Games</button>
    </div>
</div>


@code {
}
