@page "/ranking"
@using Communication.DTOs;
@using Communication.DTOs.Message;
@using Communication.DTOs.Ranking;
@using Application.Repositories.Interfaces
@inject IRankingHttpRepository RankingService
@inject IMessageHttpRepository MessageService

<div class="page-content mt-5 row">
    <div class="col-md-6">
        <PlayerRanking @bind-PlayerList=@Players />
    </div>
    <div class="col-md-6">
        <Messages @bind-MessageList=@Messages />
    </div>
</div>

@code {
    private List<RankingRecordResponse> Players = new List<RankingRecordResponse>();
    private List<RankingUpdateMessage> Messages = new List<RankingUpdateMessage>();

    protected override async Task OnInitializedAsync()
    {
        await GetRanking();
        await GetMessages();
    }

    private async Task GetRanking() => Players = await RankingService.GetRanking();
    private async Task GetMessages() => Messages = await MessageService.GetMessages();
}