<div class="background-gradient">
    <div class="logo-container">
        <div class="logo-wrapper">
            <i class="bi bi-balloon"></i>
            <div class="logo-text">NC Tennis</div>
        </div>
        <div class="logo-buttons">
            <a href="link1.html">Button 1</a>
            <a href="link2.html">Button 2</a>
            <a href="link3.html">Button 3</a>
            <a href="link4.html">Button 4</a>
        </div>
    </div>
</div>
