@page "/games"
@using Communication.DTOs.Games
@using Application.Repositories.Interfaces
@inject IGameHttpRepository GameService
@inject NavigationManager NavigationManager


<div class="page-content mt-5">
    <GamesListView @bind-GamesList=@Games />

    <button onclick="@(() => NavigationManager.NavigateTo("/create-game",true))" class="btn btn-primary mx-4">Add New</button>
</div>

@code {
    private List<GetGameResponse> Games = new List<GetGameResponse>();

    protected override async Task OnInitializedAsync()
    {
        await GetAllGames();
    }

    private async Task GetAllGames() => Games = await GameService.GetAllAsync();
}