.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 3.5rem;
    padding: 0 1rem;
}

.top-bar-left {
    display: flex;
    align-items: center;
}

.top-bar-center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

    .top-bar-center .logo-img {
        margin-top: 2em;
        max-width: 100px;
        height: auto;
    }

.top-bar-right {
    display: flex;
    align-items: center;
}
