<!-- MainLayout.razor -->
@inherits LayoutComponentBase

<div class="top-bar">
    <a class="page-logo" href="">
        <img src="tennis-rocket.png" alt="NC-League" class="logo-img" />
    </a>
    <div class="top-bar-left">
        <NavMenu />
    </div>
    <div class="top-bar-right">
        @*<LoginDisplay />*@
    </div>
</div>

<hr />

<div class="page">
    @Body
</div>
