<!-- MainLayout.razor -->
@inherits LayoutComponentBase

<div class="top-bar">
    <div class="top-bar-left">
        <NavMenu />
    </div>
    <div class="top-bar-center">
        <div class="navbar-brand" href="">
            <img src="tennis-rockets.png" alt="NC-League" class="logo-img" />
        </div>
    </div>
    <div class="top-bar-right">
        <LoginDisplay />
    </div>
</div>

<div class="page">
    <main>
        @Body
    </main>
</div>
