<!-- MainLayout.razor -->
@inherits LayoutComponentBase

<div class="top-bar">
    <div class="page-logo">
        <img src="tennis-rocket.png" alt="NC-League" class="logo-img" />
    </div>
    <div class="top-bar-left">
        <NavMenu />
    </div>
    <div class="top-bar-right">
        <LoginDisplay />
    </div>
</div>

<div class="page">
    @Body
</div>
