<div class="nav-menu">
    <a class="nav-link" href="ranking">
        <i class="bi bi-list-ol"></i> Ranking
    </a>
    <a class="nav-link" href="games">
        <i class="bi bi-circle"></i> Games
    </a>
</div>